*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header,
.footer{
    background-color: purple;
    text-align: center;
    padding: 20px;
}

.header{
    font-size: 2rem;
    font-weight: bold;
}

.main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forms{
    margin: 10px;
}

label,input{
    display: block;
}

input{
    border: none;
    outline: none;
    font-size: 2rem;
    border-bottom: 1px solid blue;
}